<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Chi tiết đơn hàng</h1>
            </div>
        </div>
    </div>
</section>
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Đơn Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tổng cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order.products}}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{imagePath}}" alt="" style="width: 152px; height: 150px">
                                    </div>
                                    <div class="media-body">
                                        <p>{{name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{price}}</h5>
                            </td>
                            <td>
                                <h5>{{quantity}}</h5>
                            </td>
                            <td>
                                <h5>{{total}}</h5>
                            </td>
                           
                        </tr>
                        {{/each}}

                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Tổng thanh toán</h5>
                            </td>
                            <td>
                                <h5>{{order.total}}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="primary-btn" href="/cancel-order">Huỷ đơn hàng</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->