<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Sản phẩm</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu end -->
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="/add-product">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Product Title</th>
                            <th>Quantity</th>
                            <th>Product sales</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th></th>
                            <th hidden>Id</th>
                        </tr>
                        {{#each data}}
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td>{{this.Name}}</td>
                            <td>{{this.Quantity}}</td>
                            <td>{{this.ProductSales}}</td>
                            <td>{{this.Stock}}</td>
                            <td>{{this.Price}} VND</td>
                            <td>
                                <button data-toggle="modal" title="Trash" class="pd-setting-ed"
                                    data-target="#exampleModalCenter"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <p>Bạn có chắc chắn muốn xóa sản phẩm không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/product-list" method="post">
                                                    <button type="submit" class="btn btn-primary" name="IsDeleted"
                                                        value="true">Yes</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">No</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="/product-detail">
                                    <button class="btn btn-default" type="submit" name="_id" value="{{this._id}}">Xem
                                        chi tiết</button>
                                </form>
                            </td>
                            <th hidden>Id</th>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <form action="/product-list">
                            <ul class="pagination">
                                {{#each pages}}
                                <li class="page-item"><input type="submit" name="Page" value="{{this}}"></li>
                                {{/each}}
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>