<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý nhân viên</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu end -->
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh sách nhân viên</h4>
                    <table>
                        <tr>
                            <th>STT</th>
                            <th>Tài khoản</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Cài đặt</th>
                        </tr>
                        {{#each listUserInOnePage}}
                        <tr>
                            <td>{{number}}</td>
                            <td>{{username}}</td>
                            <td>{{lastname}}</td>
                            <td>{{firstname}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td>
                            <td>{{address}}</td>
                            <td>
                                <button data-toggle="modal" data-target="#editStaff{{_id}}" title="Edit"
                                    class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="editStaff{{_id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">
                                                    Chỉnh sửa thông tin</h5>
                                            </div>
                                            <form action="/staff-list/edit-staff/{{_id}}" method="post">
                                                <div class="modal-body">
                                                    <label style="color: black;">Tên</label>
                                                    <div class="form-group">
                                                        <input name="firstname" type="text" class="form-control"
                                                            required value="{{firstname}}">
                                                    </div>
                                                    <label style="color: black;">Họ</label>
                                                    <div class="form-group">
                                                        <input name="lastname" type="text" class="form-control" required
                                                            value="{{lastname}}">
                                                    </div>
                                                    <label style="color: black;">Địa chỉ</label>
                                                    <div class="form-group">
                                                        <input name="address" type="text" class="form-control" required
                                                            value="{{address}}">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal" style="color: black;">Đóng</button>
                                                    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {{#if isDeleted}}
                                <button data-toggle="modal" title="Trash" class="pd-setting-ed"
                                    data-target="#unlockUser{{_id}}"><i class="fa fa-lock"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="unlockUser{{_id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <p>Bạn có chắc chắn muốn mở chặn nhân viên {{username}} không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                                <a href="/customer-list/lock-unlock-user/{{_id}}"><button type="button"
                                                        class="btn btn-primary">Mở chặn</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <button data-toggle="modal" title="Trash" class="pd-setting-ed"
                                    data-target="#lockUser{{_id}}"><i class="fa fa-unlock"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="lockUser{{_id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <p>Bạn có chắc chắn muốn chặn nhân viên {{username}} không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                                <a href="/customer-list/lock-unlock-user/{{_id}}"><button type="button"
                                                        class="btn btn-primary">Chặn</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li style="{{isDisplayedPrevious currentPage 1}}" class="page-item"><a class="page-link"
                                    href="/category-list?page={{predictPage currentPage -1}}">Previous</a></li>
                            {{#each page_number}}
                            <li style="{{isCurrentPage ../currentPage this}}" class="page-item"><a class="page-link"
                                    href="/category-list?page={{this}}">{{this}}</a></li>
                            {{/each}}
                            <li style="{{isDisplayedNext currentPage page_number.length}}" class="page-item"><a
                                    class="page-link" href="/category-list?page={{predictPage currentPage 1}}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>