<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý đơn hàng</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu end -->
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh sách đơn hàng</h4>
                    <table>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Số lượng</th>
                            <th>Tổng thanh toán</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                        {{#each listOrdersInOnePage}}
                        <tr>
                            <td>{{number}}</td>
                            <td><a href="/order-list/order-detail/{{_id}}">{{_id}}</a></td>
                            <td>{{quantity}}</td>
                            <td>{{total}}</td>
                            <td>{{createdAt}}</td>
                            <td>
                                <select id="status" style="background-color: #152036;"
                                    onchange="window.location.href='order-list/change-status/'+'{{_id}}' +'/' + this.value">
                                    {{#if (eq status 'Chờ xác nhận')}}
                                    <option value="Chờ xác nhận" selected>Chờ xác nhận</option>
                                    {{else}}
                                    <option value="Chờ xác nhận">Chờ xác nhận</option>
                                    {{/if}}

                                    {{#if (eq status 'Đã xác nhận')}}
                                    <option value="Đã xác nhận" selected>Đã xác nhận</option>
                                    {{else}}
                                    <option value="Đã xác nhận">Đã xác nhận</option>
                                    {{/if}}

                                    {{#if (eq status 'Đang vận chuyển')}}
                                    <option value="Đang vận chuyển" selected>Đang vận chuyển</option>
                                    {{else}}
                                    <option value="Đang vận chuyển">Đang vận chuyển</option>
                                    {{/if}}

                                    {{#if (eq status 'Đã thanh toán')}}
                                    <option value="Đã thanh toán" selected>Đã thanh toán</option>
                                    {{else}}
                                    <option value="Đã thanh toán">Đã thanh toán</option>
                                    {{/if}}
                                </select>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li style="{{isDisplayedPrevious currentPage 1}}" class="page-item"><a class="page-link"
                                    href="/category-list?page={{predictPage currentPage -1}}">Previous</a></li>
                            {{#each page_number}}
                            <li style="{{isCurrentPage ../currentPage this}}" class="page-item"><a class="page-link"
                                    href="/category-list?page={{this}}">{{this}}</a></li>
                            {{/each}}
                            <li style="{{isDisplayedNext currentPage page_number.length}}" class="page-item"><a
                                    class="page-link" href="/category-list?page={{predictPage currentPage 1}}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>